
i{
  &.fa-twitter{
    color: $twitter;
  }
  &.fa-facebook,
  &.fa-facebook-f{
    color: $facebook;
  }
  &.fa-linkedin{
    color: $linkedin;
  }
  &.fa-youtube-play{
    color: $youtube;
  }
}

.bg-white{
  background-color: #ffffff;
}
.text-black{
  color: #000000;
}
.bg-transparent{
  background-color: transparent;
}


