body{
  font-family: $main-font-family;
}


.social-icon{
  list-style: none;
  li{
    display: inline-block;
    &:not(:last-child){
      margin-right: 20px;
    }
    a{
      font-size: 22px;
      text-align: center;
      i{
        color: rgba(255,255,255,0.5);
      }
      &:hover{
        i{
          &.fa-twitter{
            color: $twitter;
          }
          &.fa-facebook,
          &.fa-facebook-f{
            color: $facebook;
          }
          &.fa-linkedin{
            color: $linkedin;
          }
          &.fa-youtube-play{
            color: $youtube;
          }
        }
      }
    }
  }
}




.hover-sink-away{
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hover-sink-away:hover,
.hover-sink-away:focus,
.hover-sink-away:active {
  -webkit-animation-name: anim-sink-away;
  animation-name: anim-sink-away;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

