//------------------------------- Variables
$main-font-family: "nudista-web", sans-serif;
$main-font-size: 14px;

$nudista-medium: 400;
$nudista-semibold: 600;
$nudista-bold: 700;

$images-path: "../images";
$icons-path: $images-path + "/icons";

//------------------------------- Colors

$social-colors: (
  "facebook": #3b5998,
  "facebook-f": #3b5998,
  "twitter": #1da1f2,
  "linkedin": #0077b5,
  youtube-play: #cd201f,
);

$brand-colors: (
  grey-light: #fafafa,
);

// $grey-light: #fafafa;

// ------------------------ Responsive Quries

$sm-em: "only screen and (min-width: 36em)"; // ≥ 576px
$md-em: "only screen and (min-width: 48em)"; // ≥ 768px
$lg-em: "only screen and (min-width: 62em) "; // ≥ 992px
$xl-em: "only screen and (min-width: 75em)"; // ≥ 1200px

$xs-only: "(max-width: 575.98px)";
$sm-only: "(min-width: 576px) and (max-width: 767.98px)";
$md-only: "(min-width: 768px) and (max-width: 991.98px)";
$lg-only: "(min-width: 992px) and (max-width: 1199.98px)";
$xl-only: "(min-width: 1200px)";

$sm-down: "only screen and (max-width: 767.98px)";
$md-down: "only screen and (max-width: 991.98px)";
$lg-down: "only screen and (max-width: 1199.98px)";
