
.text-underline{
  text-decoration: underline !important;
}
.txt-blue {
  color: $clr-blue !important;
}
.txt-cyan {
  color: $clr-cyan;
}
.txt-magenta {
  color: $clr-magenta !important;
}
.txt-black {
  color: #000 !important;
}
//-----------------